<h1>All Movies</h1>
<%= render 'checkbox' %>
<table id="movies">
  <thead>
    <tr>
      <th class="<%= "hidden" if session[:sort_by] == "title" || session[:sort_by] == "title DESC"%>">
        <%= link_to "Move Title", movies_path(sort_by: "title") %>
      </th>
      <th class="<%= "hidden" if session[:sort_by] == "title" || session[:sort_by] == "release_date" || session[:sort_by] == "release_date DESC"%>">
        <%= link_to "Move Title ↓", movies_path(sort_by: "title") %>
      </th>
      <th class="<%= "hidden" if session[:sort_by] == "title DESC" || session[:sort_by] == "release_date" || session[:sort_by] == "release_date DESC"%>">
        <%= link_to "Move Title ↑", movies_path(sort_by: "title DESC") %>
      </th>
      <th>Rating</th>
      <th class="<%= "hidden" if session[:sort_by] == "release_date" || session[:sort_by] == "release_date DESC"%>">
        <%= link_to "Release Date", movies_path(sort_by: "release_date") %>
      </th>
      <th class="<%= "hidden" if session[:sort_by] == "release_date" || session[:sort_by] == "title" || session[:sort_by] == "title DESC"%>">
        <%= link_to "Release Date ↓", movies_path(sort_by: "release_date") %>
      </th>
      <th class="<%= "hidden" if session[:sort_by] == "release_date DESC" || session[:sort_by] == "title" || session[:sort_by] == "title DESC"%>">
        <%= link_to "Release Date ↑", movies_path(sort_by: "release_date DESC") %>
      </th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%=cycle('list_line_odd','list_line_even') %>">
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= truncate(movie.description) %> <%= link_to "More→", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>
