<h1>All Movies</h1>
<%= render 'checkbox' %>
<table id="movies">
  <thead>
    <tr>
      <th class='image'></th>
      <th><%= sortable 'title', 'movie title' %></th>
      <th>Rating</th>
      <th><%= sortable 'release_date', 'release date' %></th>
      <th>Description</th>
      <th class='image'>Your Mov</th>
      <th class='image'>Creator</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%=cycle('list_line_odd','list_line_even') %>">
        <td><%= image_tag movie.avatar.thumb.url %></td>
        <td><%= link_to movie.title, movie_path(movie, param: 'all') %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= truncate(movie.description) %> <%= link_to "More →", movie_path(movie, param: 'all') %></td>
        <td>
          <%= 'Draft' if movie.draft %><br>
          <%= check_box_tag '','1', movie.user_id == current_user.id, {disabled: :true} %>
        </td>
        <td><%= movie.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path %>
