<h1>All Movies</h1>
<%= render 'checkbox' %>
<table id="movies">
  <thead>
    <tr>
      <th><%= sortable 'title', 'movie title' %></th>
      <th>Rating</th>
      <th><%= sortable 'release_date', 'release date' %></th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%=cycle('list_line_odd','list_line_even') %>">
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= truncate(movie.description) %> <%= link_to "More →", movie_path(movie, param: 'all') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to_if(admin?, 'Add new movie', new_movie_path) {} %>
