<h1>All Movies</h1>
<%= render 'checkbox' %>
<table id="movies">
  <thead>
    <tr>
      <th>
        <%= link_to_if(session[:sort_by] != "title" && session[:sort_by] != "title DESC", "Move Title",  movies_path(sort_by: "title") ) do 
          link_to_if(session[:sort_by] == "title DESC", "Move Title ↓",  movies_path(sort_by: "title") ) do
            link_to_if(session[:sort_by] == "title", "Move Title ↑",  movies_path(sort_by: "title DESC") )
             end
            end 
          %>
      </th>
      <th>Rating</th>
      <th>
        <%= link_to_if(session[:sort_by] != "release_date" && session[:sort_by] != "release_date DESC", "Release Date", movies_path(sort_by: "release_date") ) do
          link_to_if(session[:sort_by] == "release_date DESC", "Release Date ↓", movies_path(sort_by: "release_date") ) do
            link_to_if(session[:sort_by] == "release_date", "Release Date ↑", movies_path(sort_by: "release_date DESC") )
              end
            end
          %>
      </th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%=cycle('list_line_odd','list_line_even') %>">
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= truncate(movie.description) %> <%= link_to "More→", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>
